@{
    var role = Context.Request.Cookies["role"].Value;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý nhân viên</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/styleQLNV.css" />    
</head>

<body>
    <div class="wrapper">
        @if (role != null && role == "admin")
        {
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <ul class="list-unstyled d-flex flex-column justify-content-start align-items-center">
                    <li class="w-100">
                        <a href="/home/">
                            <i class="fa fa-home"></i>
                            Trang chủ
                        </a>
                    </li>
                    <li class="w-100">
                        <a href="/NhanVien/QuanLyNhanVien">
                            <i class="fa fa-briefcase"></i>
                            Quản lý nhân viên
                        </a>
                    </li>
                    <li class="w-100">
                        <a href="/NhanVien/QuanLyKhoXe">
                            <i class="fa fa-briefcase"></i>
                            Quản lý kho
                        </a>
                    </li>
                    <li class="w-100">
                        <a href="/NhanVien/QuanLyDonHang">
                            <i class="fa fa-link"></i>
                            Quản lý đơn hàng
                        </a>
                    </li>
                    <li class="w-50">
                        <a href="@Url.Action("Logout","User")" class="btn btn-danger text-center"
                           style="width:100%">
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </nav>
        }
        @if (role != null && role == "userKho")
        {
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <ul class="list-unstyled d-flex flex-column justify-content-start align-items-center">
                    <li class="w-100">
                        <a href="/home/">
                            <i class="fa fa-home"></i>
                            Trang chủ
                        </a>
                    </li>
                    <li class="w-50">
                        <a href="@Url.Action("Logout","User")" class="btn btn-danger text-center"
                           style="width:100%">
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </nav>
        }
        @if (role != null && role == "userDonHang")
        {
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <ul class="list-unstyled d-flex flex-column justify-content-start align-items-center">
                    <li class="w-100">
                        <a href="/home/">
                            <i class="fa fa-home"></i>
                            Trang chủ
                        </a>
                    </li>
                    <li class="w-50">
                        <a href="@Url.Action("Logout","User")" class="btn btn-danger text-center"
                           style="width:100%">
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </nav>
        }
        @RenderBody()
    </div>
    <!-- Script -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebarCollapse").on("click", function () {
                $("#sidebar").toggleClass("active");
            });
        });
    </script>
</body>
</html>
